body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
}

.App{
  width: 50%;
  
}

.cardIterm{
  border: 1px solid #333;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}


.btnPage{
  display: flex;
  justify-content: center;
}

.title{
  width: 75%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn{
  width: 10%;
  color: white;
  background-color: blue;
  margin-right: 10px;
}
